In [1]:
import numpy as np
import pandas as pd

In [2]:
n_trials = nrows = 10000
n_dice = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
rolls = pd.DataFrame(rolls, columns= ['die_1', 'die_2'])
rolls

      die_1  die_2
0         1      6
1         3      5
2         6      4
3         2      6
4         1      6
...     ...    ...
9995      3      4
9996      6      1
9997      1      1
9998      5      5
9999      2      4

[10000 rows x 2 columns]

In [3]:
rolls['doubles'] = rolls.die_1 == rolls.die_2
dbl = rolls[rolls.doubles == True].doubles.count()

In [4]:
dbl/len(rolls)*100
# around a 16 percent chance of rolling doubles

16.650000000000002

In [5]:
p_heads = .5
n_flips = 8
n_tests = 10 ** 5
flip = np.random.random((n_flips, n_tests))
heads = flip > p_heads
p = (heads.sum(axis = 0) == 3).mean()
p
# 22% chance of 3 exactly

0.21852

In [6]:
p = (heads.sum(axis = 0) > 3).mean()
p
# 64% chance of more than 3

0.63583

In [7]:
# Assumptions made for this question:
# 1. There are an equal number of students per cohort
# 2. The selection of students is completly at random

In [8]:
p_data = .25
n_boards = 2
n_tests = 10 ** 5
board = np.random.random((n_boards, n_tests))
ds = p_data >= board
prob = (ds.sum(axis = 0) == 2).mean()
prob
# There is around a 6.21% chance that both boards have a data science student on them

0.06307

In [38]:
pop_num = 17
days = 5
n_tests = 10 ** 5
pop_per = np.random.normal(3, 1.5, size = (n_tests, days))
pop_bought = pop_per.sum(axis =1)
pop_yay = (pop_bought < (pop_num - 1)).mean()
pop_yay
# 61.95% chance that there are poptarts left

0.6162

In [ ]:
m_avg = 178
m_std = 8
f_avg = 170
f_std = 6
m_height = np.random.normal(m_avg, m_std, size = (n_tests,1))
f_height = np.random.normal(f_avg, f_std, size = (n_tests,1))
combo = np.concatenate((m_height, f_height),axis = 1)
height_data = pd.DataFrame(combo, columns = ['male', 'female'])
height_data['rand'] = height_data.female > height_data.male

# You dont have to merge the arrays or make them into a dataframe to acomplish this

In [ ]:
height_data[height_data['rand'] == 1].rand.sum()/n_tests
# 21.4% chance the woman is taller than the man

In [ ]:
error = 1/250
n_students = 50
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

In [ ]:
error = 1/250
n_students = 100
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

In [ ]:
error = 1/250
n_students = 150
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
1-perc

In [ ]:
error = 1/250
n_students = 450
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

In [ ]:
food = .7
days = 3
n_days = 4
no_food = np.random.random((n_tests, days))
nfts = no_food > food
nft_fails = (nfts.sum(axis = 1) == 3).mean()
nft_fails

In [ ]:
food_here = np.random.random((n_tests, n_days))
foods = food_here <= food
yay_food = (foods.sum(axis = 1) >= 1).mean()
yay_food

In [ ]:
.3 * .3 * .3

In [ ]:
n_people = int(23*(23-1)/2)
bday = 1/365
share = np.random.random((n_tests, n_people))
share_chance = share <= bday
bshare = (share_chance.sum(axis = 1) >=1).mean()
bshare

In [ ]:
75*74

In [ ]:
n_people = int(20*(20-1)/2)
bday = 1/365
share = np.random.random((n_tests, n_people))
share_chance = share <= bday
bshare = (share_chance.sum(axis = 1) >=1).mean()
bshare

In [ ]:
n_people = int(75*(75-1)/2)
bday = 1/365
share = np.random.random((n_tests, n_people))
share_chance = share <= bday
bshare = (share_chance.sum(axis = 1) >=1).mean()
bshare
# 75 people is an almost guaranteed chance that at least 2 people share a bday

In [ ]:
75*74/2/365

In [ ]:
area = np.pi*.5**2
area/1

In [ ]:
chance = np.random.random((n_tests))
point_chance = area >= chance
overall = point_chance.mean()
overall

In [ ]:
mage_tests = 10000
h1dice = 6
h2dice = 4

In [ ]:
h1 = np.random.choice([1,2,3,4], mage_tests * h1dice).reshape(mage_tests, h1dice)
m1pow = h1.sum(axis = 1)
m1pow

In [ ]:
h2 = np.random.choice([1,2,3,4,5,6], mage_tests * h2dice).reshape(mage_tests, h2dice)
m2pow = h2.sum(axis = 1)
m2pow

In [ ]:
big_array = np.concatenate([m1pow,m2pow])
big_array

In [ ]:
mage_duel = pd.DataFrame([m1pow,m2pow]).T

In [ ]:
mage_duel = mage_duel.rename(columns = {0 : 'mage1', 1 : 'mage2'})

In [ ]:
mage_duel['duel_result'] = mage_duel.mage1 - mage_duel.mage2

In [ ]:
mage_duel

In [ ]:
mtie = mage_duel.duel_result == 0
m1w = mage_duel.duel_result > 0
m2w = mage_duel.duel_result < 0

In [ ]:
tie = mtie.mean()
m1 = m1w.mean()
m2 = m2w.mean()

In [ ]:
print(tie*100,'tie', m1*100,'mage1', m2*100,'mage2')

In [ ]:
point = np.random.random((n_tests, 2))
circle = point.sum(axis = 1) <= .5
circle.mean()*4

In [99]:
pop_num = 17
days = 5
pop_per = np.random.normal(3, 1.5, size = n_tests * 5).astype(int)
pop_df = pd.DataFrame(pop_per)
pop_df = pop_df[pop_df[0] > 0]
new_pop = pop_df.to_numpy().reshape(int(len(pop_df)/days),days)
pop_bought = new_pop.sum(axis = 1)
pop_yay = (pop_bought < (pop_num - 1)).mean()
pop_yay
# Around 71.76% chance that there are poptarts left, this works only one out of every 5 or so tries because it has to
# have a randomly generated array that is evenly divisible by 5 once negatives are removed

0.7179856589829315

0