In [12]:
import numpy as np
import pandas as pd

In [13]:
n_trials = nrows = 10_000
n_dice = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
rolls = pd.DataFrame(rolls, columns= ['die_1', 'die_2'])
rolls

      die_1  die_2
0         5      4
1         2      3
2         1      5
3         6      3
4         3      2
...     ...    ...
9995      5      1
9996      5      5
9997      4      5
9998      4      5
9999      6      4

[10000 rows x 2 columns]

In [14]:
rolls['doubles'] = rolls.die_1 == rolls.die_2
dbl = rolls[rolls.doubles == True].doubles.count()

In [16]:
dbl/len(rolls)*100
# around a 16 percent chance of rolling doubles

16.57

In [51]:
p_heads = .5
n_flips = 8
n_tests = 10 ** 5
flip = np.random.random((n_flips, n_tests))
heads = flip > p_heads
p = (heads.sum(axis = 0) == 3).mean()
p
# 22% chance of 3 exactly

0.22091

In [52]:
p = (heads.sum(axis = 0) >= 3).mean()
p
# 85% chance of 3 or more

0.85788

In [53]:
# Assumptions made for this question:
# 1. There are an equal number of students per cohort
# 2. The selection of students is completly at random

In [60]:
p_data = .25
n_boards = 2
n_tests = 10 ** 5
board = np.random.random((n_boards, n_tests))
ds = p_data >= board
prob = (ds.sum(axis = 0) == 2).mean()
prob
# There is a 6.21% chance that both boards have a data science student on them

0.06209

In [267]:
pop_num = 17
days = 5
n_tests = 10 ** 5
pop_per = np.random.normal(3, 1.5, size = (n_tests, days))
pop_bought = pop_per.sum(axis =1)
pop_yay = (pop_bought < (pop_num - 1)).mean()
pop_per
# 61.95% chance that there are poptarts left

array([[ 4.17817465,  0.02317325,  6.03455776,  4.08244274,  3.38998679],
       [-0.21069346,  2.57828795,  7.03217572,  2.41193422,  5.13026897],
       [ 1.21094647,  5.97183655,  0.69980013,  4.85203191,  4.27383404],
       ...,
       [ 1.78889412,  3.39507803,  3.81548009,  3.12866879,  4.43624421],
       [ 4.25692773,  4.73195271,  5.19258266,  1.47689273,  3.35961237],
       [ 3.85795884,  6.66289457, -0.23721939,  2.52007985,  3.89426119]])

In [181]:
m_avg = 178
m_std = 8
f_avg = 170
f_std = 6
m_height = np.random.normal(m_avg, m_std, size = (n_tests,1))
f_height = np.random.normal(f_avg, f_std, size = (n_tests,1))
combo = np.concatenate((m_height, f_height),axis = 1)
height_data = pd.DataFrame(combo, columns = ['male', 'female'])
height_data['rand'] = height_data.female > height_data.male

In [186]:
height_data[height_data['rand'] == 1].rand.sum()/n_tests
# 21.4% chance the woman is taller than the man

0.21441

In [230]:
error = 1/250
n_students = 50
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

0.81945

In [231]:
error = 1/250
n_students = 100
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

0.66809

In [232]:
error = 1/250
n_students = 150
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

0.54575

In [233]:
error = 1/250
n_students = 400
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

0.20213

In [244]:
food = .7
days = 3
n_days = 4
no_food = np.random.random((n_tests, days))
nfts = no_food > food
nft_fails = (nfts.sum(axis = 1) == 3).mean()
nft_fails

0.02673

In [246]:
food_here = np.random.random((n_tests, n_days))
foods = food_here <= food
yay_food = (foods.sum(axis = 1) >= 1).mean()
yay_food

0.9918

In [245]:
.3 * .3 * .3

0.027

In [250]:
n_people = int(23*(23-1)/2)
bday = 1/365
share = np.random.random((n_tests, n_people))
share_chance = share <= bday
bshare = (share_chance.sum(axis = 1) >=1).mean()
bshare

0.50327

In [251]:
23*22

506

In [254]:
n_people = int(20*(20-1)/2)
bday = 1/365
share = np.random.random((n_tests, n_people))
share_chance = share <= bday
bshare = (share_chance.sum(axis = 1) >=1).mean()
bshare

0.40774

In [261]:
n_people = int(40*(40-1)/2)
bday = 1/365
share = np.random.random((n_tests, n_people))
share_chance = share <= bday
bshare = (share_chance.sum(axis = 1) >=1).mean()
bshare

0.88454

In [263]:
75*74/2/365

7.602739726027397